/* MessagesComponent's private CSS styles */
.messages {
  list-style-type: none; 
  border: 1px solid white;
  padding-left: 0;
}
.messages li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin-left: 0;
  padding: .3em 0;
  height: 1.6em;
  width: 100%;
  border: 1px solid green;
}
.messages li:hover {
/*  color: #607D8B;
*//*  background-color: #DDD;
*/  left: .1em;
}
.messages li.selected {
  background-color: rgb(111, 83, 125);
  color: rgb(250, 250, 249);
}
.messages li.selected:hover {
  /*background-color: #BBD8DC;
  color: white;*/
}
.messages .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.sidebar {
    position: fixed;
    background: rgb(50,50,69);
    width: 40%;
    height: 100%;
    color: rgb(228,221,237);
    top: 0;
    left: 0;
}

.content {
    margin-left: 40%;
    height: 100%;
    width: 60%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgb(251,251,249);
    color: rgb(74, 71, 75);
    overflow: auto;
}